.wrap {
  overflow: hidden;
}

/* 폰트 */
.en {
  font-family: 'inter', serif;
  color: #fff;
  font-size: clamp(24px, 4vw, 48px);
  font-weight: 500;
}

.en2 {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 120px);
}

.sub_txt {
  color: #fff;
  font-size: clamp(12px, 1.25vw, 24px);
  font-weight: 500;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  background-color: #222;
}

/* header */
.header_area.scroll {
  position: fixed;
  height: auto;
  top: 0;
  left: 0;
  padding: 20px 32px;
  animation: scroll 0.3s linear;
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.header_area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 20px 32px;
  font-family: 'inter', serif;
}

.header_area .container {
  height: 100%;
  width: 1600px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_area .container .main_menu {
  display: flex;
}

.header_area .main_menu li {
  font-weight: 500;
  color: #fff;
  margin-right: 28px;
}

.header_area .hamburger-box {
  display: none;
}

.header_area .logo {
  width: 60px;
  height: 50px;
}

.header_area .main_menu a:hover {
  color: #81D4FA;
}

/* section1 */
.section1 .container {
  padding-top: 350px;
  padding-bottom: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 .en2 {
  text-align: center;
}

/* section2 */
.section2 .container {
  padding: 200px 150px;
  width: 1400px;
  margin: 0 auto;
}

.section2 .sub_txt {
  margin: 24px 0;
}

.section2 .brain_img_wrap {
  display: flex;
  margin-right: -60px;
  width: 100%;
}

.section2 .brain_img_box {
  margin-right: 60px;
  width: calc(50% - 60px);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5), 0 4px 20px rgba(0, 0, 0, 0.7);
}

/* section3  */
.section3 .container {
  padding: 200px 150px;
  width: 1400px;
  margin: 0 auto;
}

.section3 .reference_wrap {
  margin-right: -32px;
  display: flex;
  width: 100%;
  height: 100%;
}

.section3 .reference_wrap .refer_box {
  width: calc(25% - 16px);
  margin-right: 16px;
  height: auto;
}

.section3 .sub_txt {
  margin: 24px 0;
}

/* section4 */
.section4 .container {
  padding: 200px 150px;
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section4 .struct_img {
  width: 80%;
}

.section4 .struct_bg {
  width: 100%;
  border-radius: 15px;
  background-color: #C9C9C9;
}

.section4 .sub_txt {
  margin: 24px 0;
}

/* section5 */
.section5 .container {
  padding: 250px 150px;
  width: 1400px;
  margin: 0 auto;
}

.section5 .sub_txt {
  margin-top: 16px;
}

.section5 .skectch_box {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
}

.section5 .skectch_box .content {
  margin-right: 24px;
  width: calc(25% - 24px);
  margin-bottom: 32px;
  height: 400px;
}

.section5 .skectch_box .con1 {
  background: url(../img/ideasketch1.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con2 {
  background: url(../img/ideasketch2.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con3 {
  background: url(../img/ideasketch3.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con4 {
  background: url(../img/ideasketch4.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con5 {
  background: url(../img/ideasketch5.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con6 {
  background: url(../img/ideasketch6.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con7 {
  background: url(../img/ideasketch7.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con8 {
  background: url(../img/ideasketch8.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con9 {
  background: url(../img/ideasketch9.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con10 {
  background: url(../img/ideasketch10.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con11 {
  background: url(../img/ideasketch11.jpg) center/cover no-repeat;
}

.section5 .skectch_box .con12 {
  background: url(../img/ideasketch12.jpg) center/cover no-repeat;
}

/* section6 */
.section6 {
  background-color: #CBCACF;
}

.section6 .container {
  padding: 200px 32px;
  width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section6 .sec_6_txt {
  text-align: center;
}

.section6 .sub_txt {
  margin: 24px 0;
}

.section6 .style_bg {
  width: 60%;
}

/* section7 */
.section7 {
  background-color: #CBCACF;
}

.section7 .container {
  padding: 200px 150px;
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.section7 .sub_txt {
  margin: 24px 0;
}

.section7 .en,
.section7 .sub_txt,
.section6 .en,
.section6 .sub_txt {
  color: #222;
}

.section7 .wire_img_wrap {
  width: 100%;
  display: flex;
  margin-right: -16px;
}

.section7 .wire_box1 {
  height: 1000px;
}

.section7 .wire_box2 {
  height: 1000px;
}

.section7 .wire_box3 {
  height: 1400px;
}

.section7 .wire_box4 {
  height: auto;
}

.section7 .wire_img_wrap .wire_img_box {
  width: calc(25% - 16px);
  margin-right: 16px;
}

/* section8 */
.section8 .container {
  padding: 150px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1400px;
  margin: 0 auto;
}

.section8 .txt-wrap {
  text-align: center;
}

.section8 .sub_txt {
  margin: 24px 0;
}

.section8 .video_box {
  width: 60%;
  margin-bottom: 32px;
}

/* section 9 */
.section9 .en,
.section9 .sub_txt {
  text-align: center;
}

.section9 .sub_txt {
  margin: 24px 0;
}

.section9 .container {
  padding: 150px 16px;
  width: 1800px;
  margin: 0 auto;
}

.section9 .page_wrap {
  margin-top: 100px;
}

.section9 .page_wrap .en {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 16px;
}

.section9 .page_wrap .page {
  width: 49%;
  margin-bottom: 32px;
}

.section9 .page_wrap .page img {
  box-shadow:
    3px 3px 10px rgba(0, 0, 0, 0.4),
    -3px -3px 10px rgba(255, 255, 255, 0.05);
}

.section9 .page_wrap .page1,
.section9 .page_wrap .page3 {
  margin-left: 55%;
}

/* section10 */
.section10 .container {
  padding: 200px 32px;
  width: 1400px;
  margin: 0 auto;
}

.section10 .en,
.section10 .sub_txt {
  text-align: center;
}

.section10 .sub_txt {
  margin: 36px 0;
}

.section10 .res_imgbox {
  width: 50%;
  margin: 0 auto;
}

/* footer */
.footer {
  background-color: #222;
}

.footer .container {
  width: 1600px;
  margin: 0 auto;
  color: #fff;
  padding: 200px 0;
  display: flex;
  justify-content: space-between;
}

.footer .footer-contact .f_title {
  font-size: clamp(13px, 3.125vw, 70px);
  color: #81D4FA;
  width: 70%;
}

.footer .footer-contact h3 {
  font-size: clamp(13px, 2.5vw, 70px);
  margin-top: 12px;
  margin-bottom: 8px;
}

.footer .footer-navigation .en {
  font-size: clamp(12px, 2.5vw, 70px);
}

.footer .footer-contact-second {
  display: flex;
  align-items: center;
}

.footer .footer-contact-second>p {
  margin-left: 16px;
}

.footer .footer-navigation .footer-title {
  color: #81D4FA;
}

.footer .footer-contact-number h1 {
  font-size: clamp(20px, 4.5vw, 100px);
  margin-top: 4px;
}

.footer .footer-navigation ul {
  display: flex;
  margin-top: 40px;
  margin-right: -12px;
}

.footer .footer-navigation ul li {
  font-size: clamp(12px, 1.875vw, 70px);
  margin-right: 12px;
}

.footer .footer-navigation ul li a:hover {
  color: #81D4FA;
}

/* 반응형 */
@media (max-width: 1800px) {

  .section2 .container,
  .section3 .container,
  .section4 .container,
  .section5 .container,
  .section6 .container,
  .section7 .container,
  .section8 .container,
  .section9 .container,
  .section10 .container,
  .header_area .container {
    width: 100%;
  }

  .footer .container {
    padding: 200px 60px;
    width: 100%;
  }
}

@media (max-width: 1420px) {
  .header_area .logo {
    display: none;
  }

  .header_area .main_menu {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 0.3s;
  }

  .header_area .main_menu li a {
    font-size: 6vw;
    color: #fff;
  }

  .header_area .main_menu .menu {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .header_area .hamburger-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    display: block;
  }

  #hamburger {
    display: block;
    width: 20px;
    height: 10px;
    position: absolute;
    right: 0;
    position: relative;
    z-index: 99999;
  }

  #hamburger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
  }

  #hamburger span:first-child {
    top: 0;
    left: 0;
  }

  #hamburger span:last-child {
    top: 100%;
    left: 0;
  }

  .header_area .main_menu.active {
    transform: translateY(0);
  }

  #hamburger.active span:first-child {
    transform: translateY(10px);
  }

  #hamburger.active span:last-child {
    transform: translateY(-10px);
  }

  .section1 .container {
    padding: 250px 0;
  }

  .section2 .container {
    padding: 150px 80px;
  }

  .section3 .container {
    padding: 150px 16px;
  }

  .section3 .reference_wrap .refer_box {
    width: calc(25% - 8px);
    margin-right: 8px;
    background-size: contain;
  }

  .section3 .reference_wrap .refer_box {
    width: calc(25% -8px);
    margin-right: 8px;
  }

  .section3 .sub_txt {
    margin: 8px 0;
  }

  .section4 .container {
    padding: 150px 80px;
  }

  .section5 .skectch_box {
    margin-top: 40px;
    margin-right: -24px;
  }

  .section5 .skectch_box .content {
    margin-right: 16px;
    width: calc(25% - 16px);
    margin-bottom: 24px;
    height: 450px;
  }

  .section5 .container {
    padding: 150px 16px;
  }

  .section6 .container {
    padding: 150px 60px;
  }

  .section7 .container {
    padding: 150px 16px;
  }

  .footer .footer-con1 .f-logo {
    width: 100px;
    height: 70px;
  }

  .footer .footer-con1 .f-logo img {
    width: 100px;
    height: 70px;
  }
}



@media (max-width: 1000px) {
  .section2 .container {
    padding: 100px 40px;
  }

  .section5 .skectch_box .content {
    margin-right: 16px;
    width: calc(50% - 16px);
    margin-bottom: 24px;
    height: 450px;
  }

  .section4 .struct_img {
    width: 100%;
  }

  .section6 .style_bg {
    width: 100%;
  }

  .section7 .wire_img_wrap .wire_box1 {
    height: 600px;
  }

  .section7 .wire_img_wrap .wire_box2 {
    height: 600px;
  }

  .section7 .wire_img_wrap .wire_box3 {
    height: 900px;
  }

  .footer .container {
    padding: 150px 50px;
  }
}

@media (max-width: 800px) {
  .section9 .page_wrap {
    margin-top: 48px;
  }

  .section7 .wire_img_wrap {
    margin-right: -8px;
  }

  .section7 .wire_img_wrap .wire_img_box {
    width: calc(25% - 8px);
    margin-right: 8px;
  }

  .section7 .wire_img_wrap .wire_box1 {
    height: 600px;
  }

  .section7 .wire_img_wrap .wire_box2 {
    height: 600px;
  }

  .section7 .wire_img_wrap .wire_box3 {
    height: 900px;
  }

  .section9 .page_wrap .en {
    font-size: 1.5rem;
    margin-bottom: 16px;
    text-align: center;
  }

  .section9 .page_wrap .page {
    width: 100%;
    margin-bottom: 32px;
  }

  .section9 .page_wrap .page img {
    width: 100%;
  }

  .section9 .page_wrap .page1,
  .section9 .page_wrap .page3,
  .section9 .page_wrap .page5 {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .en {
    font-weight: 500;
  }

  .en2 {
    font-weight: 500;
  }

  .section2 .container,
  .section3 .container,
  .section4 .container,
  .section5 .container,
  .section6 .container,
  .section7 .container,
  .section8 .container,
  .section9 .container,
  .section10 .container {
    padding: 60px 8px;
  }

  .section1 .container {
    padding: 120px 0;
  }

  .section2 .brain_img_wrap {

    margin-right: -32px;
  }

  .section2 .brain_img_box {
    margin-right: 32px;
    width: calc(50% - 32px);
  }

  .section2 .sub_txt {
    margin: 8px 0;
  }

  .section5 .skectch_box .content {
    margin-right: 8px;
    width: calc(100% - 8px);
    margin-bottom: 24px;
    height: 450px;
  }

  .section5 .skectch_box {
    margin-right: -8px;
  }

  .section5 .skectch_box .content {
    height: 550px;
  }

  .section7 .wire_img_wrap .wire_box1 {
    height: 300px;
  }

  .section7 .wire_img_wrap .wire_box2 {
    height: 300px;
  }

  .section7 .wire_img_wrap .wire_box3 {
    height: 500px;
  }

  .section8 .video_box {
    width: 100%;
    margin-bottom: 32px;
  }

  .footer .container {
    padding: 32px 16px;
  }

  .footer .footer-contact-info {
    flex-direction: column;
  }


  .footer .container {
    padding: 32px 16px;
  }

  .footer .footer-contact-second>p {
    margin-left: 0;
    font-size: 0.75rem;
  }

  .footer .footer-contact-second {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 376px) {

  .section4 .sub_txt,
  .section5 .sub_txt,
  .section6 .sub_txt,
  .section7 .sub_txt,
  .section8 .sub_txt,
  .section9 .sub_txt,
  .section10 .sub_txt {
    margin: 8px 0;
  }

  .section5 .skectch_box .content {
    height: 350px;
  }

  .section7 .wire_img_wrap .wire_box1 {
    height: 250px;
  }

  .section7 .wire_img_wrap .wire_box2 {
    height: 250px;
  }

  .section7 .wire_img_wrap .wire_box3 {
    height: 350px;
  }
}