@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  font-size: 1rem;
  color: #222;
  background-color: #222;
}

img,
svg,
video {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul li {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}